@model ICollection<Models.BookModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            <p>Title: @item.Title</p>
            <p>Description: @item.Descriptn</p>
            <p>Price: @item.Price</p> 
            <p>Author: @item.Author.First_name @item.Author.Last_name</p> 
            <br />
        }
    </div>
</body>
</html>
